# Environment variables

zartist/games/texasholdem/llm_agents.py

.env
texasholdem/
play.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Virtual Environment
venv/
env/
ENV/
